$card-animation-time: 0.28s;

:host {
  display: contents;
}

.card-container {
  margin: 0;
  margin-top: -13px;
  flex: 0 1 16.66%;

  @media only screen and (max-width: 1200px) {
    flex-basis: 20%;
  }

  @media only screen and (max-width: 768px) {
    flex-basis: 25%;
  }
}

.card {
  position: relative;
  border-radius: var(--border-radius);
  padding: 0 0 150% 0;
  background: var(--image-url) no-repeat transparent 50% 50% / cover;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.5);
  transition: all ease $card-animation-time 0.01s;
  transform: perspective(222px) translate3d(0px, 5px, 0px) rotateX(0deg);
  perspective-origin: top;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    width: 100%;
    height: 172%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.07) 51.5%,
      rgba(255, 255, 255, 0.15) 54%,
      rgba(255, 255, 255, 0.15) 100%
    );

    transform: translateY(-36%);
    opacity: 0.5;
    transition: all ease $card-animation-time 0.01s;
  }

  &.has-action {
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.1);
      transform: perspective(222px) translate3d(0px, 0px, 8px) rotateX(3deg);
      transform-origin: center;
      box-shadow: 0 14px 16px -2px rgba(0, 0, 0, 0.5);

      &::before {
        opacity: 1;
        transform: translateY(-20%);
      }

      .card-delete,
      .actions,
      .episodes button {
        opacity: 0.95;
      }
    }

    &:active {
      filter: brightness(80%) contrast(110%);
    }
  }
}

.card-score {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding: 2px 5px;
  margin: 5px 4px;
  border-radius: var(--border-radius);
  opacity: 0.95;
  font-weight: 600;
  --t: calc(var(--score) / 10);
  background: color-mix(
    in oklch,
    #b2102f calc((1 - var(--t)) * 100%),
    #4caf50 calc(var(--t) * 100%)
  );
}

.type-image {
  position: absolute;
  bottom: 3px;
  left: 4px;
  background: var(--surface-color);
  padding: 2px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-low);
  opacity: 0.9;

  &:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-image: var(--type-image);
    background-color: var(--font-color);
    opacity: 0.7;
  }
}

.title-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.card-delete {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  background-color: #b2102f;
  opacity: 0;
  transition: all ease $card-animation-time;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background-image: url('../../../../public/delete.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.actions {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 3px;
  opacity: 0;
  transition: all ease $card-animation-time;

  .action-complete {
    background: rgba(8, 56, 17, 0.98);
    font-size: 0.85rem;
  }

  .action-uncomplete {
    background: rgba(56, 9, 8, 0.98);
    font-size: 0.85rem;
  }

  .episodes {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    background: var(--surface-color);
    box-shadow: var(--shadow-low);
    border-radius: var(--border-radius);

    span {
      font-size: 0.85rem;
      font-weight: 700;
      padding: 5px 8px;
      position: relative;
      z-index: 1;
      pointer-events: none;
    }

    button {
      position: absolute;
      font-weight: 600;
      padding: 2px 8px;
      opacity: 0;
      &:first-child {
        background: rgba(56, 9, 8, 0.98);
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }

      &:last-child {
        background: rgba(8, 56, 17, 0.98);
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }
  }
}

.permanent-actions {
  opacity: 1;
}
