:host {
  display: contents;
}

.planned-section {
  padding-top: 20px;

  .planned-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 25px 10px;
    padding: 20px 12px;

    border-radius: var(--border-radius);
    box-shadow:
      inset 0 2px 4px rgba(0, 0, 0, 0.7),
      inset 0 -2px 4px rgba(255, 255, 255, 0.05);
  }
}

.year-separator {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  width: 100%;
  text-align: center;
  margin: 40px 0 0 0;
  display: flex;
  gap: 20px;
  align-items: center;

  .year-separator-label {
    color: transparent;
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.09);
    font-size: 4rem;
    font-family: var(--font-family-2);
    line-height: 1;
    letter-spacing: 0.06em;

    @-moz-document url-prefix() {
      &.year-separator-label.year-separator-label.year-separator-label {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.09);
      }
    }
  }

  &:after {
    content: '';
    flex: 1;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent 70%);
  }

  &.middle {
    .year-separator-label {
      font-size: 3rem;
    }

    &:before {
      content: '';
      flex: 1;
      height: 1px;
      background: linear-gradient(to left, rgba(255, 255, 255, 0.1), transparent 70%);
    }
  }
}

.completed-section {
  padding-top: 10px;

  .completed-group {
    display: flex;
    flex-direction: column;
  }

  .completed-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 25px 10px;
  }
}

.add-entry {
  background: var(--surface-color);
  position: fixed;
  bottom: 20px;
  right: -650px;
  border: var(--border);
  box-shadow: var(--shadow-high);
  transition: all ease 0.3s;
  padding: 10px 20px;
  color: var(--font-color);
  z-index: 3;

  &.active {
    right: 20px;
  }
}

.manage-entry {
  min-height: auto;
  background: var(--surface-color);
  border-radius: var(--border-radius);
  position: fixed;
  bottom: 20px;
  right: -650px;
  border: var(--border);
  box-shadow: var(--shadow-high);
  transition: all ease 0.3s;
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--surface-gradient);
    opacity: 0.5;
    z-index: -1;
  }

  &.active {
    right: 20px;
  }

  img {
    display: none;
  }

  > * {
    padding: 14px;
  }

  .header {
    grid-row: span 2;
  }

  .form {
    display: grid;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;

    label {
      display: block;
      text-align: end;
    }

    input,
    select {
      width: 160px;
    }

    .score-inputs-container {
      display: flex;
      align-items: center;
      gap: 5px;

      input[type='number'] {
        width: 45px;
      }
      input[type='range'] {
        padding: 0;
        width: 110px;
        --t: calc(var(--score) / 10);
        accent-color: color-mix(
          in oklch,
          #b2102f calc((1 - var(--t)) * 100%),
          #4caf50 calc(var(--t) * 100%)
        );
      }
    }

    .title-input {
      grid-column: span 3;
      width: auto;
    }

    .date-label,
    .episode-label {
      font-size: 0.8rem;
    }
  }

  .manage-entry-card {
    grid-row: span 2;
    padding-top: 4px;
    width: 130px;

    ::ng-deep {
      .card-container {
        padding: 0;
      }
    }
  }

  .actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}

.control-btn {
  position: relative;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  * {
    cursor: pointer;
  }
}

//general

.separator {
  font-size: 1.7rem;
  padding: 40px 0 25px 0;
  display: flex;
  align-items: center;
  gap: 20px;

  h3 {
    font-size: 1.7rem;
    font-family: var(--font-family-2);
    letter-spacing: 0.1rem;
  }
}

.type-quantity-list {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;

  .icon {
    width: 20px;
    height: 20px;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    flex-shrink: 0;
    mask-image: var(--icon);
    background-color: var(--color);
  }

  .type-quantity {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--color);
    position: relative;
    padding: 2px 6px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius);
      background-color: var(--color);
      opacity: 0.04;
    }

    span {
      font-family: var(--font-family-2);
      padding-top: 2px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .manage-entry {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .manage-entry .form.form {
    grid-template-columns: auto auto;

    * {
      grid-column: span 1;
    }

    input,
    select {
      width: 210px;
    }
  }

  .planned-section .planned-grid,
  .completed-section .completed-grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
}

.create-button {
  background-color: rgba(27, 124, 46, 0.15);
}

.delete-button {
  background-color: rgba(185, 28, 28, 0.15);
}
