<div class="page">
  <div class="page-header">
    <div class="header-left">
      <h1>Fresh Media</h1>
    </div>
    <div class="header-right">
      @if (user()) {
        <button (click)="signOut()" [title]="user()?.email">Logout</button>
      } @else {
        <button (click)="loginWithGoogle()">Login</button>
      }
    </div>
  </div>
  <router-outlet />
  @if (!user()) {
    <!-- <app-auth /> -->
    <div class="login-message">
      <span><button (click)="loginWithGoogle()">Login</button> to access Fresh Media</span>
      <img src="good_deal.gif" alt="Good Deal" />
    </div>
  }
</div>
